<ul class="menu">

    {% for menuItem in site.data.menu %}
    {% if menuItem.subcategories != null %}
    <li><a href="{{ menuItem.href }}" class="page-link">{{ menuItem.title }}</a>
    <ul class="sub-menu">
    {% for subcategory in menuItem.subcategories %}
    <li><a href="{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
     <li><a href="{{ menuItem.href }}" class="page-link">{{ menuItem.title }}</a>
    {% endif %}
    </li>
    {% endfor %}
    </ul>
